body{
  background-color: #528413;
}
div {
/*  border: 1px solid white;*/
}

h1{
  border: 2px solid #FCDC28;
  width: 420px;
  background-color: #16617F;
  color: white;
  text-align: center;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 5px;
}
h3{
  margin: 5px;
}
h1 span.fantasy{
  font-family: 'Niconne', cursive;
}

h1 span.star{
 color: #FCDC28; 
}


/*"#E34528", stroke: "#fcb85c"})*/

*{
  color: white;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

#header{
/*  border-bottom: 1px solid white;*/
}
#middle{
  padding: 0px 5px;
  width:100%;
  display: inline-block;
  background-color: #67A816;
  border: 1px solid white;
}

#middle #left{
  padding: 0px 5px;
  width:25%;
  float: left;
}

#middle #main{
  width:50%;
  float: left;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#middle #right{
  padding: 0px 5px;
  float: left;
}

#footer{
/*  border-top: 1px solid white;*/
}


#countries span{
  opacity: 0.5;
}

#countries span.active{
  opacity: 1;
}

/* Work around because Chrome changes svg color for a:visited into black*/
#countries svg:hover{
  cursor:pointer;
}

#countries a{
 text-decoration: none;
}