div {
  border: 1px solid #999;
}

#middle{
  width:100%;
  background-color:red; 
  display: inline-block; 
}

#middle #left{
  width:25%;
  float: left;
}

#middle #main{
  width:50%;
  float: left;
}

#middle #right{
  float: left;
}
